:root {
    --main-color: rgb(224, 216, 206);
    --secundary-color: black;
    --accent-color: rgb(1, 54, 1);
    /* #913800  #FFAC78  #DB8651  #188B8F  #51D7DB*/
}

::selection {
    background-color: var(--accent-color);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}

h1, h2, h3 {
    margin-bottom: 24px;
}
